@tailwind base;
@tailwind components;
@tailwind utilities;

.start-page{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Palestine_Polytechnic_University_%22_c_%22.jpg/1200px-Palestine_Polytechnic_University_%22_c_%22.jpg');
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.268);
}
.z-100 {
    z-index: 100;
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
  animation: fade-in 0.2s ease;
}
.menu-bg {
  background: rgba(255, 255, 255, 0.659);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}
@media (max-width: 640px) {
    body{
        padding-top: 2rem;
    }
}